/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 200px;
}
.profile-content-stat {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.profile-content-image {
  padding: 20px;
  background: #fff;
  min-height: 960px;
}

.table {
  width: 70%;
  max-width: 70%;
  margin-bottom: 20px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.input-group {
    align-self: center;
    border-collapse: separate;
    display: table;
    margin: auto;
    position: relative;
    width: 500px;
}

.floating-box {
    float: left;
    width: 300px;
    height: 400px;
    margin: 10px;
}

.after-box {
    clear: left;
    border: 3px solid red;      
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top:10px;
}

.img-circle {
   border-radius: 50%;
  margin: auto;
  width: 30%;
  display:block;
}

.btnsearch{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

  .navbar-right {
    float: right !important;
    margin-right: 15px;
  }
  
  h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:5px;
  padding-bottom:5px;
}

.seriestitlecontainer{
	background-color:#F1F3FA;
	text-align:center;
}

.seriesallinfocontainer{
	text-align:left;
	border-top:solid #D3D3D3;
	border-top-width:1px;
}
.seriesinfocontainerwithbar{
	margin: 0 auto;
    display: inline-block;
    overflow: hidden;
	float:left;
	width:33.3%;
	background-color:#F1F3FA;
	border-right:solid #D3D3D3;
	border-right-width:1px;
	height:40px;
	text-align:center;
	line-height:40px;
	
}

.seriesinfocontainer{
	margin: 0 auto;
    display: inline-block;
    overflow: hidden;
	float:left;
	width:33.3%;
	background-color:#F1F3FA;
	height:40px;
	text-align:center;
	line-height:40px;
	
}

.informationcase {
	display:inline;
	vertical-align:center;
	font-weight:bold;
}