<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<h:outputStylesheet library="css" name="style.css" />
	<link rel="stylesheet" href="resources/css/bootstrap.css"/>
	<link rel="stylesheet" href="resources/css/style.css"/>
</h:head>

<h:body>

	<div id="header">
		<ui:insert name="header">
			<ui:include src="/template/common/header.xhtml" />
		</ui:insert>
	</div>


	<div id="content">
		<ui:insert name="content">
			<ui:include src="/template/common/content.xhtml" />
		</ui:insert>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<ui:include src="/template/common/footer.xhtml" />
		</ui:insert>
	</div>

</h:body>

</html>
