<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<link rel="stylesheet" href="resources/css/bootstrap.css" />
<link rel="stylesheet" href="resources/css/style.css" />
</head>
<body>
	<ui:composition>
		<nav class="navbar navbar-inverse">
		<ul class="nav navbar-nav">
			<li><a href="#">No account?</a></li>
			<li><a href="#">About us</a></li>
		</ul>
      <h:form class="navbar-form navbar-right">
      <div class="form-group">
        <h:inputText binding="#{fsearch}"></h:inputText>
      </div>
      <h:commandButton type="submit" class="btnsearch btn-default" action="#{seriesBean.searchSeries(fsearch.value)}" value="Search"/>
    </h:form>
		</nav>
	</ui:composition>
</body>
</html>
