<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<link rel="stylesheet" href="resources/css/bootstrap.css" />
<link rel="stylesheet" href="resources/css/style.css" />
</head>
<body>
	<ui:composition>
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-userpic">
					<img src="../Images/myAvatar.png" class="img-responsive" alt="" />
				</div>
				<div class="profile-usertitle">
					<div class="profile-usertitle-name"><h:outputText value="#{seriesBean.user.firstname}" /></div>
				</div>
				<div class="profile-usermenu">
					<h:form>
						<ul class="nav">
							<li class="active"><h:commandLink
									action="#{NavigationController.profil}" value="Profil" /></li>
							<li><h:commandLink
									action="#{NavigationController.librairie}" value="My library" /></li>
						</ul>
					</h:form>
				</div>
			</div>
		</div>
	</ui:composition>
</body>
</html>
