<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body onload="#{seriesBean.updateDatas}">
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<h1>You cannot follow as visitor. Please login !</h1>
			<h:commandButton action="#{NavigationController.profil}" value="Ok" class="btn-primary" />
		</ui:define>
	</ui:composition>
</h:body>

</html>