<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<div class="profile-content-image ">
				<h1 style="text-align: center;">
					Series in your library :
					<h:outputText value="#{seriesBean.allSeriesByUser.size()}" />
				</h1>
				<h:form id="form">
					<p:dataGrid var="serie" value="#{seriesBean.allSeriesByUser}"
						columns="3" layout="grid"
						rows="#{seriesBean.allSeriesByUser.size()}" id="series">
						<p:column>
							<p:panel header="#{serie.name}" style="text-align:center">
								<h:panelGrid columns="1" style="width:100%">
									<h:commandButton target="#{seriesBean.selectedSerie}"
										action="#{seriesBean.openSerie}"
										image="Images/#{serie.name}.jpg" class="img-responsive">
										<f:setPropertyActionListener value="#{serie}"
											target="#{seriesBean.selectedSerie}" />
									</h:commandButton>
									<h:panelGrid columns="4" style="width:100%;margin:10px;">
										<h:outputText styleClass="informationcase"
											value="#{seriesBean.getNbWatchedEpisodesByUserBySerie(serie)}" />
										<h:graphicImage style="width:50px;margin-right:10px"
											value="Images/eyeicon.png" />
										<h:outputText styleClass="informationcase"
											style="margin-right:10px;"
											value="#{seriesBean.getNbUnWatchedEpisodesByUserBySerie(serie)} to watch" />
										<h:commandButton class="btn-primary"
											style="margin:5px;text-align:center"
											target="#{seriesBean.selectedSerie}"
											action="#{seriesBean.removeSerie}" value="Unfollow">
											<f:setPropertyActionListener value="#{serie}"
												target="#{seriesBean.selectedSerie}" />
										</h:commandButton>
									</h:panelGrid>
								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>