<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/template/common/BasicTemplate.xhtml">
		<ui:define name="content">
			<div class="container">
				<div class="wrapper">
					<h:form class="form-signin">
						<h:graphicImage class="img-circle" value="Images/series.png" />
						<h3 class="form-signin-heading">Please Enter</h3>
						<div class="container">
							<h:commandButton class="btn btn-lg btn-primary btn-block"
								action="#{NavigationController.profil}" value="Enter">
							</h:commandButton>
						</div>
					</h:form>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>