<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body onload="#{seriesBean.updateDatas}">
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<div class="profile-content">
				<h1 style="text-align: center;">
					Welcome :
					<h:outputText value="#{seriesBean.user.firstname}" />
				</h1>
			</div>
			<div class="profile-content-stat" style="margin: auto;">
				<table class="table" align="center">
					<tr>
						<th>Library</th>
						<th>Watched</th>
						<th>To watch</th>
					</tr>
					<tr>
						<td><h:outputLabel value="#{seriesBean.nbUserAllEpisode}"></h:outputLabel>
						</td>
						<td><h:outputLabel value="#{seriesBean.nbWatchedUserEpisode}"></h:outputLabel>
						</td>
						<td><h:outputLabel
								value="#{seriesBean.nbUnwatchedUserEpisode}"></h:outputLabel></td>
					</tr>
				</table>

				<p:chart type="pie" model="#{seriesBean.pieModel}"
					style="width:400px;height:300px;display:block;margin-right:auto;margin-left:auto;">
					<!--  <p:ajax event="itemSelect" listener="#{chartView.itemSelect}" update="growl" />-->
				</p:chart>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>