<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<div class="profile-content-image ">
				<h1 style="text-align: center;">
					Series found :
					<h:outputText value="#{seriesBean.allSeriesByName.size()}" />
				</h1>
				<h:form id="form">
					<p:dataGrid var="serie" value="#{seriesBean.allSeriesByName}"
						columns="3" layout="grid"
						rows="#{seriesBean.allSeriesByName.size()}">
						<p:column>
							<p:panel header="#{serie.name}" style="text-align:center">
								<h:panelGrid columns="1" style="width:100%">
									<div>
										<h:commandButton
											image="Images/#{serie.name}.jpg" class="img-responsive">
										</h:commandButton>
									</div>
									<h:panelGrid columns="4" style="width:100%; margin:5px">
										<h:outputText styleClass="informationcase"
											value="#{seriesBean.getNbSeasonBySerie(serie)} seasons" />


										<h:panelGroup class="informationcase">
											<h:outputText styleClass="informationcase"
												value="#{seriesBean.getNbEpisodesBySerie(serie)} episodes" />
										</h:panelGroup>

										<h:commandButton target="#{seriesBean.selectedSerie}"
											action="#{seriesBean.followSerie}" value="Follow"
											class="btn-primary">
											<f:setPropertyActionListener value="#{serie}"
												target="#{seriesBean.selectedSerie}" />
										</h:commandButton>

									</h:panelGrid>
								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>