<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<div class="profile-content-image ">
				<h1 style="text-align: center;">
					Total
					<h:outputText value=" #{seriesBean.allSeasonBySeries.size()} " />
					seasons
				</h1>

				<h:form id="form">
								<h:commandButton action="#{NavigationController.librairie}" value="Back" class="btn-primary" />
					<p:repeat value="#{seriesBean.allSeasonBySeries}" var="season">
						<h:panelGrid columns="2" style="width:100%"
							columnClasses="logo,detail">
							<p:chart type="pie"
								model="#{seriesBean.getPieModelSeason(season)}"
								style="width:200px;height:150px;" />

							<h:commandButton action="#{seriesBean.openSeason}"
								target="#{seriesBean.selectedSeason}" value="Visualiser"
								class="btn-primary">
								<f:setPropertyActionListener value="#{season}"
									target="#{seriesBean.selectedSeason}" />
							</h:commandButton>

							<p:outputPanel>
								<h:panelGrid columns="2" cellpadding="5">
									<h:outputText value="Season :" />
									<h:outputText value="#{season.number}"
										style="font-weight: bold" />

									<h:outputText value="Year :" />
									<h:outputText value="#{season.year}" style="font-weight: bold" />
								</h:panelGrid>
							</p:outputPanel>
						</h:panelGrid>
						<hr />
					</p:repeat>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>