<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:body>
	<ui:composition template="/template/common/ConnectedTemplate.xhtml">
		<ui:define name="contentProfil">
			<div class="profile-content-image">
				<h1 style="text-align: center;">
					Total episodes :
					<h:outputText
						value="#{seriesBean.allLibrariesByUserAndBySeason.size()}" />
				</h1>
				<h:form id="form">
					<h:commandButton action="#{NavigationController.seasons}"
						value="Back" class="btn-primary" />
					<p:dataGrid var="library"
						value="#{seriesBean.allLibrariesByUserAndBySeason}" columns="3"
						layout="grid"
						rows="#{seriesBean.allLibrariesByUserAndBySeason.size()}">

						<p:column>
							<p:panel header="#{library.episode.title}"
								style="text-align:center;height:150px">
								<h:panelGrid columns="1" style="width:100%">
									<h:outputText value="#{library.episode.title}" />

									<h:commandButton class="#{seriesBean.getClassButton(library)}"
										style="margin:5px;" target="#{seriesBean.selectedLibrary}"
										action="#{seriesBean.changeWatchStatus}"
										value="#{seriesBean.getValueTextButton(library)}">
										<f:setPropertyActionListener value="#{library}"
											target="#{seriesBean.selectedLibrary}" />
									</h:commandButton>

								</h:panelGrid>
							</p:panel>
						</p:column>
					</p:dataGrid>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>

</html>